@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body
{
    background-color:  hsl(212, 45%, 89%);
    height: 100vh;
    display: grid;
    place-content: center;
    
}

.container
{
   
    background-color: white;
    text-align: center;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:15px;
    border-radius: 5%;
   
}

.pic
{    
    border-radius: 5%;
    width: 20rem;
    
}

h3
{
  font-family: outfit;
  font-size: 20px;
  padding: 0px 20px;

}

p{
    opacity: 50%;
    font-size: 17px;
    font-family:outfit;
    padding: 0px 29px 20px;
   
}



